.container{
    max-width: 1200px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: Montserrat, serif;
}